.CoreApp {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: black;
  border-style: solid 1px;
  background-color: rgb(252, 252, 252);
  position: absolute;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.CoreApp.is-moved {
  left: 30%;
  top: 3%;
  height: 90%;
  width: 95%;
  border-radius: 1%;
}

.CoreApp .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  opacity: 0.9;
  color: white;
  text-align: center;
  background-color: rgb(67, 176, 215);
  z-index: 1;
}

.CoreApp::before {
  content: "";
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

.CoreApp .header .title {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 3vh;
  font-weight: lighter;
  top: 2vh;
  transform: translateY(-50%);
}

.CoreApp .MenuBtn {
  opacity: 1;
  width: 8vh;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: "inline-flex";
  justify-content: "center";
  align-items: "center";
}

.MenuBtn:hover {
  background-color: lightskyblue;
}
